<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xgh.dao.WalletEntityMapper" >
  <resultMap id="BaseResultMap" type="com.xgh.domain.entity.WalletEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="total_amt" property="totalAmt" jdbcType="DECIMAL" />
    <result column="available_amt" property="availableAmt" jdbcType="DECIMAL" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="point" property="point" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, created_time, updated_time, is_delete, user_id, total_amt, available_amt, memo, 
    point
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_xgh_wallet
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_xgh_wallet
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xgh.domain.entity.WalletEntity" useGeneratedKeys="true" keyProperty="id" >
    insert into t_xgh_wallet (created_time, updated_time, is_delete, 
      user_id, total_amt, available_amt, 
      memo, point)
    values (#{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{totalAmt,jdbcType=DECIMAL}, #{availableAmt,jdbcType=DECIMAL}, 
      #{memo,jdbcType=VARCHAR}, #{point,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.xgh.domain.entity.WalletEntity" useGeneratedKeys="true" keyProperty="id" >
    insert into t_xgh_wallet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="totalAmt != null" >
        total_amt,
      </if>
      <if test="availableAmt != null" >
        available_amt,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="point != null" >
        point,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="totalAmt != null" >
        #{totalAmt,jdbcType=DECIMAL},
      </if>
      <if test="availableAmt != null" >
        #{availableAmt,jdbcType=DECIMAL},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        #{point,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xgh.domain.entity.WalletEntity" >
    update t_xgh_wallet
    <set >
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="totalAmt != null" >
        total_amt = #{totalAmt,jdbcType=DECIMAL},
      </if>
      <if test="availableAmt != null" >
        available_amt = #{availableAmt,jdbcType=DECIMAL},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xgh.domain.entity.WalletEntity" >
    update t_xgh_wallet
    set created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      total_amt = #{totalAmt,jdbcType=DECIMAL},
      available_amt = #{availableAmt,jdbcType=DECIMAL},
      memo = #{memo,jdbcType=VARCHAR},
      point = #{point,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>